@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #F3F4F6; 
}
::-webkit-scrollbar-thumb {
    background: #d1d5db; 
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #6B46C1; 
}
